body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #FDFBF5;
}

.heading {
	font-size: 72px;
	position: auto;
	text-align: center;
	
}

.navigation {
	background-color: #E6E6E6;
	height: 50px;
	margin: 0 auto;
}

.navbar {
	margin: 0 auto;
	width: 812px;
	padding-top: 3px;
	position: relative;
}

#nav_button {
	background-color: #FFFFFF;
	color: #000000;
	display: inline-block;
	height: 40px;
	width: 200px;
	margin: 0 auto;
	position: center;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-size: 32px;
}


.description {
	padding-top: 10px;
	padding-bottom: 50px;
	width: 740px;
	background-color: #E6E6E6;
	margin: 0 auto;
	position: relative;
	text-align: left;
	display: block;
}
	
.description p {
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	font-size: 16px;
}
